<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
    <!--引入外部配置文件-->
    <properties resource="db.properties"/>
    <settings>
        <setting name="logImpl" value="LOG4J2"/>
    </settings>
    <!--类型别名-->
    <typeAliases>
        <typeAlias type="com.learn.mybatis.model.User" alias="User"/>
        <typeAlias type="com.learn.mybatis.model.Student" alias="Student"/>
        <typeAlias type="com.learn.mybatis.model.Teacher" alias="Teacher"/>
        <typeAlias type="com.learn.mybatis.model.Student2" alias="Student2"/>
        <typeAlias type="com.learn.mybatis.model.Teacher2" alias="Teacher2"/>
    </typeAliases>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--推荐使用resource-->
        <mapper resource="com/learn/mybatis/dao/UserMapper.xml"/>
        <mapper resource="com/learn/mybatis/dao/StudentMapper.xml"/>
        <mapper resource="com/learn/mybatis/dao/TeacherMapper.xml"/>
        <mapper resource="com/learn/mybatis/dao/StudentMapper2.xml"/>
        <mapper resource="com/learn/mybatis/dao/TeacherMapper2.xml"/>
        <!--        <mapper class="com.learn.mybatis.dao.UserMapper"/>-->
        <!--        <package name="com.learn.mybatis.dao"/>-->
    </mappers>
</configuration>